@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #E2DED5;
	    font-family: "G마켓 산스";
}

.container {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

#mainContent {
	position: absolute;
	width: 580px;
	height: 57%;
	margin: 40px auto 42px;
	padding: 0 69px;
	border-radius: 10px;
	box-shadow: 5px 3px 5px 3px gray;
	background-color: #ffff;
	font-family: "G마켓 산스";
}

.user_inf {
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	font-family: "G마켓 산스";
}

#username, #user_email {
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 45px;
	padding: 10px 0 8px;
	border: 0;
	border-bottom: 2px solid #191919;
	font-size: 18px;
	line-height: 25px;
	color: #191919;
	background-color: transparent;
	letter-spacing: 0;
	box-sizing: border-box;
	outline: 0 none;
	caret-color: #191919;
	opacity: 1;
	font-family: "G마켓 산스";
}

.br {
	padding: 30px 0px;
	font-family: "G마켓 산스";
}

#sea_sta {
	width: 40%;
	height: 50px;
	border: 0;
	outline: none;
	border-radius: 40px;
	background: #776B5D;
	font-weight: bold;
	color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
	float: right;
	font-family: "G마켓 산스";
}