@charset "UTF-8";
#headerImg{
           width:100%;
           height:74px;
            overflow: hidden;
            border-radius: 0 0 30% 30%;
}
#headerImg img{
   width:100%;
    position: relative;            
}
        .container {
            width: 750px;
            height:75vh;
            margin: 0 auto;
            margin-top: 80px;
        }

        body {
        background-image: url("../img/items/1702347507751.jpg");
	background-size: 50%;
            -ms-overflow-style: none;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .chatbotMain {
            -ms-overflow-style: none;
        }

        .chatbotMain::-webkit-scrollbar {
            display: none;
        }

        .chatbot_header {
            background-color: #776B5D;
            color: #E2DED5;
            width: 100%;
            height: 80px;
            border-radius: 10px;
            margin-bottom: 10px;
            padding:14px;
        }

        .chatbot_header>h5,
        h6 {
            text-align: center;
        }

        #content {
            overflow: scroll;
            height: 555px;
            border: 1px solid #ddd;
            background: rgba(238, 230, 226);
            border-radius: 10px;
        }

        .queRight,
        .queLeft {
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
        }

        .queRight {
            background: #a09d95;
            color: #fff;
            float: right;
        }

        .queLeft {
            background: #ffffff;
            color: #000000;
            float: left;
        }

        .input-group {
            margin-top: 10px;
            margin-bottom: 8.47rem;
            height:60px;
        }
